body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Creating header styles */
header{
    background: rgba(229, 84, 115, 0.10);
    margin: ;
}
.beautiful-flowers-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flower-image{
    width: 600px;
    margin: 30px 30px 0 150px;
}
.beautiful-flowers-title{
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}
.beautiful-flowers-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 40px;

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #fff;
    font-size: 18px;
    border: none;
}

/* added main section first part Our Featured Flowers */
.featured-flowers-about{
    margin-bottom: 80px;
}
.featured-flowers-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 80px;
}
.featured-flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -25px;
}
.about-flowers{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.trees{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    height: 400px;
    padding: 40px 40px 0px 40px;
    margin: 0 10px;
}
/* added delivery services styles*/
.delivered{
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    width: 63%;
    margin: 0 auto;
}
.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.delivery-succes{
    text-align: center;
    margin: 30px 30px;
    width: 50%;
}
/* adeed hot deal styles */
.hot-deal{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 90px 0;
    padding: 50px;
}
.btn-primary-tow{
    margin-left: 43%;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #fff;
    font-size: 18px;
    border: none;
}
.hot-deal-item{
    padding: 0px 60px 90px 0;
}