body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Creating header styles */

header{
    background: rgba(229, 84, 115, 0.10);
}
.beautiful-flowers-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flower-image{
    width: 600px;
    margin: 30px 30px 0 150px;
}
.beautiful-flowers-title{
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}
.beautiful-flowers-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 40px;

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #fff;
    font-size: 18px;
    border: none;
}

/* added main section first part Our Featured Flowers */

.featured-flowers-about{
    margin-bottom: 80px;
}
.featured-flowers-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 80px;
}
.featured-flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -25px;
}
.about-flowers{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.trees{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    height: 400px;
    padding: 40px 40px 0px 40px;
    margin: 0 10px;
}

/* added delivery services styles*/

.delivery-contact{
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    width: 63%;
    margin: 0 auto;
}
.delivery-contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.delivery-succes{
    text-align: center;
    margin: 30px 30px;
    width: 50%;
}

/* added styles extra creating dimandeble blower section */

.most-popular-flowers-ranking{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ranking-top{
    width: 350px;
    margin: 60px 45px 0px 45px;
    border: 2px solid rgba(167, 33, 98, 0.15);
    border-radius: 15px;
    background: rgba(0, 208, 45, 0.153);
    box-shadow: 10px 10px 10px 10px #c1bebe;
}
.most-popular{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}
.best-flower-description{
    font-family: sans-serif;
    font-weight: 500;
    line-height: 25px;
    padding: 10px;
}
.best-flower-title{
    padding: 0 10px;
    font-size: 30px;
}

/* adeed hot deal styles */

.hot-deal{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 90px 0;
    padding: 50px;
}
.color-primary{
    color: #E55473;
}
.btn-primary-tow{
    margin-left: 43%;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #fff;
    font-size: 18px;
    border: none;
}
.hot-deal-item{
    padding: 0px 60px 90px 0;
}

/* added styels instagram content section */

.instagram-title{
    text-align: center;
    font-weight: 700;
    color: #272727;
    font-size: 35px;
    padding-bottom: 10px;
}
.box-trees-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-trees{
    width: 260px;
    margin: 60px 10px 10px 10px;
    border-radius: 15px;
    background: rgba(0, 208, 45, 0.153);
}
.box-images{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

/* added styles banner section */

.banner-content-creating{
    width: 60%;
    margin: auto;
    background-image: url(/images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
.banner-content{
    text-align: center;
}
.email-text{
    width: 300px;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 8px;
    background: transparent;
    border-color: #FFF;
    color: white;
}
.banner-title{
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
}

/* added styles in the footer section */

footer{
    background: #111010;
}
.footer-bar{
    color: #FFF;
    padding-bottom: 30px;
    text-align: center;
}
.footer-title{
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 80px;
}
.footer-description{
    text-align: center;
    font-family: sans-serif;
    color: rgba(123, 121, 121, 0.9);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -25px;
}
.copyright-footer-description{  
    color: rgba(255, 255, 255, 0.40);
    font-family: sans-serif;
}
.box-rose{
    height: 500px;
    margin: 10px 230px 30px 350px;
}